<ion-content [fullscreen]="true">
    <div class="login-section ion-padding">
      <div class="heading ion-padding">
        <h1>Seleccione su clase</h1>
      
      </div>

      <!-- Contenedor para los botones alineados horizontalmente -->

      <div class="action-button ion-padding">
        <ion-button size="#" class="custom-small-button" (click)="navigateEscanner()">Clase 1</ion-button> <!-- sitio en construcción -->
      </div>
      <div class="action-button ion-padding">
        <ion-button size="#" class="custom-small-button" (click)="navigateEscanner()">Clase 2</ion-button> <!-- sitio en construcción -->
      </div>
       
      <div class="action-button ion-padding">
        <ion-button size="#" class="custom-small-button" (click)="navigateEscanner()">Clase 3</ion-button> <!-- sitio en construcción -->
      </div>
      <div class="action-button ion-padding">
        <ion-button size="#" class="custom-small-button" (click)="navigateEscanner()">Clase 4</ion-button> <!-- sitio en construcción -->
      </div>
      <div class="icon-container">
        <ion-icon name="play-back" class="bottom-icon" (click)="navigateHome()"></ion-icon>
      </div>
    </div>
   

</ion-content>