<ion-content [fullscreen]="true">
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Recordar contraseña</h1>
      <p>Ingrese para continuar</p>
    </div>

    <!-- formulario -->
    <form #loginForm="ngForm" class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" aria-label="Correo" name="email" ngModel></ion-input>
        </ion-item>
      </div>
      <br>
    </form>
  </div>
</ion-content>
<ion-footer>
  <div class="action-button" > <!-- enviar correo -->
    <img id="imagen-animada" src="./assets/mail.png" alt="mail" class="imagen-animada"> <!-- imagen animada -->
    <ion-button size="" width="50%" class="forgot-password-button" (click)="enviar(loginForm)">Enviar</ion-button>
    <br>
    <ion-button fill="clear" size="small" class="registro"  [routerLink]="'/home'">Regresar</ion-button>
  </div>
</ion-footer>