<ion-content [fullscreen]="true">
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <!-- Botón de regreso con ícono y texto -->
      <div class="back-button">
        <!-- <ion-icon name="chevron-back-outline"></ion-icon>-->
        <ion-buttons>
          <ion-back-button text="" defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <h1>Recordar contraseña</h1>
      </div>

      <p>Ingrese para continuar</p>
    </div>

    <form class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" aria-label="Correo"></ion-input>
        </ion-item>
      </div>
      <br>
    </form>

    <div class="action-button ion-padding">
      <ion-button size="large" class="login-button" (click)="enviar()">Enviar</ion-button>
    </div>
  </div>
</ion-content>