<ion-content [fullscreen]="true">
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Bienvenido a Duoc</h1>
      <p>ingrese para continuar</p>
    </div>

    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item><!-- usuario -->
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>
      <br>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item><!-- contraseña -->
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button size="large" class="login-button">Ingresar</ion-button>
      <br>
      <p>recordar contraseña</p>
      <br>
      <ion-button class="signup-button" size="large" fill="outline" routerLink="/registro">registro</ion-button>
    </div>
  </div>
  
</ion-content>
