<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-title">Sitio en construcción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-title">
      <ion-title size="large">Sitio en construcción</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="icon-container">
    <ion-icon name="play-back-outline" class="bottom-icon" (click)="navigateHome()"></ion-icon>
  </div>
  <br>
  
  <div class="ion-title">
    <ion-button (click)="presentAlert()">Escanear QR</ion-button>
  </div>
</ion-content>
