<ion-content [fullscreen]="true" id="main-content">

  <div class="icon-container">
    <br>
  </div>
  <br>
  <div>
    <ion-card>
      <div class="barra"></div> <!-- Barra horizontal animada dentro del ion-card -->
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="ion-boton">
    <ion-button (click)="presentAlert()">Escanear QR</ion-button> <!-- boton para mostrar alerta de escaneo de QR -->
  </div>
  <br>
  <div class="icon-container">
    <ion-icon name="play-back-outline" class="bottom-icon" (click)="navigateHome()"></ion-icon> <!--icono para regresa a asistencia -->
  </div>
</ion-content>
